@page
@model Webshop.Pages.CartModel
@{
}


@foreach (var group in Model.CartGroups)
{
    <h2>Item: @group.Key</h2>
    <h3>Amount: @group.Count()</h3>
    
    

    foreach (var item in group)
    {
        <form method="post" asp-page-handler="Add">
            <input type="submit" class="btn btn-danger" value="+" />
        </form>
        <form method="post" asp-page-handler="Remove">
            <input type="submit" class="btn btn-danger" value="-" />
        </form>
    }
}



<h3>VAT: @(Model.VAT) USD</h3>
<h2>Total sum: @Model.TotalSum USD</h2>
