@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="jumbotron text-center">Välkomst-text</h1>

<style>
    .card {
        display: inline-block;
    }
</style>

@foreach (var item in Model.Products)
{
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@item.image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@item.title</h5>
        <p class="card-text">@item.description</p>
        <p class="text-right">Price: @item.price USD</p>
        <a href="#" class="btn btn-primary">Purchase</a>
    </div>
</div>
}
