@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="jumbotron text-center">Välkomst-text</h1>

@foreach (var item in Model.Products)
{
    <p>@item.title</p>
    <p>@item.chosen</p>
}
